@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
font-family: 'Patrick Hand', cursive;
}

.raduis{

border-radius: 10px;

}

.nav-item a {
    border-radius: 15px;
    transition: all 0.5s;


}
.nav-item a:hover{
    border-radius: 15px;
background-color: #A55E33;
transition: all 1s;
}

 .enveolp {
     position: relative;

 }


.layOut {

    position: absolute;
    top: 0;
    left: 0;
    background-color: #311f1250;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
}

.line{

width: 15%;
height: 4.5px;
position: absolute;
top:120%;
left: 43%;
background-color:rgb(113, 19, 19);


}

.detailStyle{


background-color: #A55E33;
color: white;
transition: all 0.5s;

}

.detailStyle:hover{

background-color:#df9c16;
color: white;

}

.sourceStyle{
background-color: #4f6c25;
    color: white;
    transition: all 0.5s;


}
.sourceStyle:hover{

background-color: #82b03f;
    color: white;

}



.titleContent{
position: relative;


}
.container h2{
   
    top: 2px;
    left: 4px;
font-size: 50px;
color: rgb(149, 98, 197);

}
.item .enveolp .layOut:hover {

    opacity: 1;
}
.z-index{

z-index: 99999999999999;

}


.navbar .navbar-brand {

font-size: 30px;
    font-weight: bolder;
   color: white !important;
        

}

h1{

text-shadow: 0px 11px 10px rgba(185, 160, 75, 0.8);
font-size:60px;
}
.navbar .navbar-brand i{
    

font-size: 50px !important;
}

.navbar .navbar-nav li a{

padding: 0 20px !important;

font-size: 25px;
font-weight: bolder;
color: white;
/* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); */

}



header{

    background-image: url(../photos/food.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
}

.overlay{

position: absolute;
background: rgba(0, 0, 0, 0.26);
inset:0;

}

.end {
    background-color: #333333;
    text-align: center;
    padding: 10px 0;


}

.end p {
    font-family: sans-serif;
    color: white;
    padding: 20px 0;
    font-size: 13px;

}
.end .icons a{

text-decoration: none;
color: white;

}
.end .icons i {
  
    padding: 20px 10px 5px 10px;
    font-size: 30px;

}

.end span a {

    color: #ff305b;
    text-decoration: none;

}

.end span a:hover {

    text-decoration: underline;
}